@charset "utf-8";
/* CSS Document */
body
{
	font-family:Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	margin: 0 /* bỏ đẩy lề trên và trái từ body*/;
	color: #555555;
	background-color: #F4F3F3;
}
h1{ font-size: 24px; color: }
h2{ font-size: 20px}
h3{ font-size: 16px}
p{ line-height: 1.5rem; 
	margin-bottom: 25px; 
	margin-top: 0
}
a{}
a:hover{}
.top-bar i{ margin-left: 5px; margin-right: 2px}
.navbar 
{ 
	background-color: white;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	padding:10px 0 ;
	position: sticky;
	width: 100%;
	top: 0
	}
.navbar .container
{
	display: flex;
	justify-content: space-between; /* đẩy các box trong flex theo bề ngang*/
	align-items: center;/* đẩy các box trong flex center theo trục dọc*/
}

.menu ul
{
	margin: 0;
	padding: 0;
	list-style: none; /* khong chấm đầu dòng*/
	display: flex
}
.menu ul li { position: relative}
.menu ul li a
{
	color: #333;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	text-transform:uppercase;
	font-size: 16px
}
.menu ul li a:hover
{
	/*background-color:#FFC113*/;
	border-bottom: 2px solid #FFC113;
	color:#056CB6
	}

.menu ul ul
{
	display: block;
	background: #056CB6;
	position: absolute;
	left: 0; top: 100%;
	width: 200px;
	display: none
}

.menu ul ul a{ color: #fff; font-size: 14px}
.menu ul ul a:hover{  background-color: #FFC113;border-bottom: none}
.menu ul li:hover >ul { display: block}

.menu-footer a{ display: block; text-decoration: none; color: white; padding: 5px 0}
.menu-footer a:hover{ color: #FFC113}

main{ min-height: 500px}


.backtoTop
{
	background: tomato;
	position: fixed;
	right: 10px; bottom: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 30px;
	color: white;
	box-shadow: 2px 2px 5px #666
	
}
.cover { position: relative}
.caption{ 
	position: absolute;
	top: 30%;
	left: 10%;
	width: 50%;
	color: #fff;

}
.box-control
{ 	

	position: absolute; top: 40%;
	width: 100%;
	display: flex;
	justify-content: space-between
}
.box-dichvu{ 
	position: relative;
/*overflow: hidden;*/
perspective: 800px}
.caption-dichvu{
	position: absolute;
	background: rgba(2,2,2,0.5);
	color: #fff; padding: 10px;
	top: 0; left:0;
	width: 100%;
	height: 100%;	
	transform: scale(0) rotateY(180deg);
	transition: all .5s
}
.box-dichvu:hover >.caption-dichvu
{	
	transform: scale(1) rotateY(0deg); 
}
.box-new
{
	position: absolute;
	width: 50px; 
	height: 50px;
	line-height: 50px;
	background: tomato;
	color: #fff;
	text-align: center;
	top: 10px; right: 10px;
	border-radius: 50%

}
.page-header{ position: relative}
.page-caption { position: absolute; top: 25%; left: 10%; color: #fff}
.page-caption button { margin-top: 20px}
section { margin-top: 50px}
#taisao{
	position: relative
}
.noidung-taisao{ 
	position: absolute;
	width: 50%;
	top: 20px;
	left: 10%
}

#choose-us
{
	background-image: url("../img/bg-taisao.jpg");
	background-repeat: no-repeat;
	background-position: center top
}
#tes .bg-white{  padding: 50px; text-align: center}
#tes .avatar{ border-radius: 50%; padding: 10px; box-shadow: 0 0 5px #666; width: 20%}
img.logo{width: 10%;}
footer
{
	background: #740001;
	min-height: 500px
}
